export API_VERSION=
export API_PORT=

export POSTGRES_USER=
export POSTGRES_PASSWORD=
export POSTGRES_HOST=
export POSTGRES_PORT=
export POSTGRES_DB_NAME=
export POSTGRES_SSL_MODE=
export POSTGRES_SEARCH_PATH=

export OBSERVABILITY_ENABLED=
export TRACE_EXPOTER_URL=

export MINIO_ROOT_USER=
export MINIO_ROOT_PASSWORD=
export MINIO_ACCESS_KEY_ID=
export MINIO_SECRET_ACCESS_KEY=
export MINIO_ADDR=
export MINIO_DATA_BUCKET_NAME=
export MINIO_PRESIGNED_URL_EXP_IN_MINUTES=
